In [0]:
import numpy as np
import pandas as pd
import datetime
import random

# Dataset

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
!unzip /content/drive/My\ Drive/dot_traffic_2015.txt.gz.zip

Archive:  /content/drive/My Drive/dot_traffic_2015.txt.gz.zip
  inflating: dot_traffic_2015.txt.gz

In [0]:
traffic_df = pd.read_csv('/content/dot_traffic_2015.txt.gz', compression='gzip', header=0, sep=',', quotechar='"')

In [0]:
del traffic_df['functional_classification_name']
del traffic_df['date']
del traffic_df['restrictions']
del traffic_df['year_of_data']
del traffic_df['record_type']
del traffic_df['direction_of_travel_name']
del traffic_df['fips_state_code']
del traffic_df['station_id']

In [33]:
traffic_df.head(10)

   day_of_data  ...  traffic_volume_counted_after_2300_to_2400
0            7  ...                                          6
1           26  ...                                        613
2           16  ...                                        892
3           26  ...                                        110
4           23  ...                                          7
5           25  ...                                       1590
6           10  ...                                         61
7           27  ...                                         14
8           26  ...                                        168
9           12  ...                                        270

[10 rows x 30 columns]

In [6]:
traffic_df.shape

(7140391, 30)

In [34]:
one_hot_column = ['direction_of_travel', 'functional_classification','direction_of_travel','lane_of_travel','month_of_data','day_of_week','day_of_data']
prefix = []
for col in one_hot_column:
  prefix.append(col.replace('_',''))
data = pd.get_dummies(traffic_df,prefix=prefix, columns=one_hot_column)
data = data[:30000]
data[:5]

   traffic_volume_counted_after_0000_to_0100  ...  dayofdata_31
0                                          4  ...             0
1                                        381  ...             0
2                                        585  ...             0
3                                        105  ...             0
4                                          6  ...             0

[5 rows x 116 columns]

In [16]:
data.shape

(30000, 116)

In [0]:
cat_index = {} # Mapping of feature -> start index of feature in a record
cat_values = {} # Mapping of feature -> list of categorical values the feature can take
# build up the cat_index and cat_values dictionary
one_hot_column = ['direction_of_travel', 'functional_classification','direction_of_travel','lane_of_travel','month_of_data','day_of_week','day_of_data']
for i, header in enumerate(data.keys()):
  if i > 23: # categorical header
    feature, value = header.split('_')
    if feature not in cat_index:
      cat_index[feature] = i
      cat_values[feature] = [value]
    else:
      cat_values[feature].append(value)
def get_onehot(record, feature):
  """
  Return the portion of `record` that is the one-hot encoding
  of feature. For example, since the feature "work" is stored
  in the indices [5:12] in each record, calling `get_range(record, "work")`
  is equivalent to accessing `record[5:12]`.
  Args:
  - record: a numpy array representing one record, formatted
  the same way as a row in `data.np`
  - feature: a string, should be an element of `catcols`
  """
  start_index = cat_index[feature]
  stop_index = cat_index[feature] + len(cat_values[feature])
  return record[start_index:stop_index]
def get_categorical_value(onehot, feature):
  """
  Return the categorical value name of a feature given
  a one-hot vector representing the feature.
  Args:
  - onehot: a numpy array one-hot representation of the feature
  - feature: a string, should be an element of `catcols`
  Examples:
  >>> get_categorical_value(np.array([0., 0., 0., 0., 0., 1., 0.]), "work")
  'State-gov'
  >>> get_categorical_value(np.array([0.1, 0., 1.1, 0.2, 0., 1., 0.]), "work")
  'Private'
  """
  # TODO
  idx = np.argmax(onehot)
  return cat_values[feature][idx]
def get_feature(record, feature):
  """
  Return the categorical feature value of a record
  """
  onehot = get_onehot(record, feature)
  return get_categorical_value(onehot, feature)
def get_features(record):
  return { f: get_feature(record, f) for f in catcols }

In [10]:
get_categorical_value(np.array([0.1, 0., 1.1, 3.3, 0., 1., 0.,0,0,0,0,0,0,0,55,0,0,0]), "dayofdata")

'15'

#DataLoader

In [11]:
np.random.seed(50) # set the numpy seed for consistent split
arr = np.arange(len(data))
np.random.shuffle(arr)
np_data=data.values
shuffled_data=np_data
total_data=len(np_data)
train_data=shuffled_data[:int(total_data*0.7)].astype(np.float32)
validation_data=shuffled_data[int(total_data*0.7):int(total_data*0.85)].astype(np.float32)
test_data=shuffled_data[int(total_data*0.85):].astype(np.float32)
print("Training dataset size: {}".format(train_data.shape[0]))
print("Validation dataset size: {}".format(validation_data.shape[0]))
print("Test dataset size: {}".format(test_data.shape[0]))

Training dataset size: 21000
Validation dataset size: 4500
Test dataset size: 4500

#Neural Network

In [0]:
import torch
import torch.nn as nn
import torch.optim as optim

In [0]:
cuda = torch.device('cuda')

In [0]:
def get_model_name(name, batch_size, learning_rate, epoch, momentum):
  """ Generate a name for the model consisting of all the hyperparameter values
  Args:
  config: Configuration object containing the hyperparameters
  Returns:
  path: A string with the hyperparameter name and value concatenated
  """
  if momentum:
    path = "model_{0}_bs{1}_lr{2}_epoch{3}_momentum{4}".format(name,
            batch_size,
            learning_rate,
            epoch,momentum)
  else:
    path = "model_{0}_bs{1}_lr{2}_epoch{3}".format(name,
            batch_size,
            learning_rate,
            epoch)
  return path

In [0]:
class AutoEncoder(nn.Module):
  def __init__(self):
    super(AutoEncoder, self).__init__()
    self.encoder = nn.Sequential(
    nn.Linear(116, 100), # TODO
    nn.BatchNorm1d(num_features=100),
    nn.ReLU(),
    nn.Linear(100, 80),
    nn.ReLU(),
    )
    self.decoder = nn.Sequential(
    nn.Linear(80, 100),# TODO
    nn.ReLU(),
    nn.Linear(100, 116),# TODO
    nn.ReLU()
    )
    self.sig = nn.Sigmoid()
  def forward(self, x):
    x = self.encoder(x)
    x = self.decoder(x)
    x[:,24:] = self.sig(x[:,24:])
    return x

In [0]:
def get_accuracy(model, data_loader):
    """Return the "accuracy" of the autoencoder model across a data set
    
    Args:
       - model: the autoencoder model, an instance of nn.Module
       - data_loader: an instance of torch.utils.data.DataLoader

    Example (to illustrate how get_accuracy is intended to be called.
             depending on your variable naming this code might not work
             out of the box)

        >>> model = AutoEncoder()
        >>> vdl = torch.utils.data.DataLoader(data_valid, batch_size=256, shuffle=True)
        >>> get_accuracy(model, vdl)
    """
    total = 0
    acc = 0
    count = 0
    for j in range(24):
        for item in data_loader: # minibatches
            inp = item.detach().numpy()
            out = model(zero_out_feature(item.clone())).detach().numpy()
            for i in range(out.shape[0]): # record in minibatch
                acc += np.square(int(out[i][j]) - inp[i][j] )
                count += 1
    return np.sqrt(acc)/count

In [0]:
import matplotlib.pyplot as plt
def plot_training_curve(path):
    train_err = np.loadtxt("{}_train_acc.csv".format(path))
    val_err = np.loadtxt("{}_val_acc.csv".format(path))
    train_loss = np.loadtxt("{}_train_loss.csv".format(path))
    val_loss = np.loadtxt("{}_val_loss.csv".format(path))
    plt.title("Train vs Validation Accuracy")
    plt.plot(range(1,train_err.shape[0]+1), train_err, label="Train")
    plt.plot(range(1,val_err.shape[0]+1), val_err, label="Validation")
    plt.xlabel("Epoch")
    plt.ylabel("Accuracy")
    plt.legend(loc='best')
    plt.show()
    plt.title("Train vs Validation Loss")
    plt.plot(range(1,train_loss.shape[0]+1), train_loss, label="Train")
    plt.plot(range(1,val_loss.shape[0]+1), val_loss, label="Validation")
    plt.xlabel("Epoch")
    plt.ylabel("Loss")
    plt.legend(loc='best')
    plt.show()
def zero_out_feature(records):
    """ Set the feature missing in records, by setting the appropriate
    columns of records to 0
    """
    col = random.randint(0, 23)
    records[:, col:24] = 0
    return records

def zero_out_random_feature(records):
    """ Set one random feature missing in records, by setting the 
    appropriate columns of records to 0
    """
    return zero_out_feature(records)
def validation_eval(model, valid_loader, criterion):
    valid_error = 0
    total_valid_loss = 0
    for data_val in valid_loader:
        recon=model(data_val)
        loss = criterion(recon, data_val)
        total_valid_loss += loss.item()
    return total_valid_loss/len(valid_loader),get_accuracy(model, valid_loader)
        
def train(model, train_loader, valid_loader, num_epochs=5, learning_rate=1e-4, batch_size=1,betas=(0.9, 0.999)):
    """ Training loop. You should update this."""
    torch.manual_seed(42)
    criterion = nn.MSELoss()
    optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate,betas=betas)
    train_err = []    
    train_loss = []  
    val_err = []  
    val_loss = []
    for epoch in range(num_epochs):
        train_error = 0
        total_train_loss = 0
        train_idx = 0
        for data in train_loader:
            data_zero = zero_out_feature(data.clone()) # zero out one categorical feature
            recon = model(data_zero)
            loss = criterion(recon, data)
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
            total_train_loss += loss.item()
            if train_idx%1000==0:
                train_err.append(get_accuracy(model,  train_loader))
                train_loss.append(total_train_loss/(train_idx+1))
                valid_loss,valid_err = validation_eval(model, valid_loader,criterion)
                val_loss.append(valid_loss)
                val_err.append(valid_err)
            train_idx+=1
        train_loss.append(total_train_loss/len(train_loader))
        valid_loss,_= validation_eval(model, valid_loader,criterion)
        val_loss.append(valid_loss)
        print(("Epoch {}: Train loss: {} Train flow loss: {} |"+               
               "Validation loss: {} Valid flow loss: {}").format(
            epoch + 1, train_loss[-1],train_err[-1],val_loss[-1],val_err[-1]))
        model_path = "Encoder_Decoder_Batchsize{}_lr{}_epoch{}_betas{}".format(batch_size,learning_rate,epoch,betas)
        torch.save(model.state_dict(), model_path)
    print('Finished Training')    
    np.savetxt("{}_train_loss.csv".format(model_path), np.array(train_loss))       
    np.savetxt("{}_val_loss.csv".format(model_path), np.array(val_loss))
    return model_path

In [62]:
Encoder=AutoEncoder()
batch_size=32
train_loader =torch.utils.data.DataLoader(train_data,batch_size=batch_size) 
valid_loader =torch.utils.data.DataLoader(validation_data,batch_size=batch_size) 
test_loader =torch.utils.data.DataLoader(test_data,batch_size=batch_size) 
path = train(Encoder, train_loader, valid_loader, num_epochs=30, learning_rate=1e-2, batch_size=batch_size)

Epoch 1: Train loss: 69306.07981503282 Train flow loss: 1.2681110222220153 |Validation loss: 58525.716519835994 Valid flow loss: 2.7753524469239537
Epoch 2: Train loss: 60997.15062844844 Train flow loss: 0.8089677564642701 |Validation loss: 48512.25687056738 Valid flow loss: 1.7382892540594226
Epoch 3: Train loss: 50883.528160524875 Train flow loss: 0.7394963926787577 |Validation loss: 30749.360074523494 Valid flow loss: 1.5833720854040476
Epoch 4: Train loss: 40494.286465393714 Train flow loss: 0.6398757666825677 |Validation loss: 28172.23193359375 Valid flow loss: 1.3622215159140114
Epoch 5: Train loss: 38639.433544327316 Train flow loss: 0.6119368734979769 |Validation loss: 24366.435335632756 Valid flow loss: 1.3044476213957465
Epoch 6: Train loss: 37482.649598747266 Train flow loss: 0.5986780478014666 |Validation loss: 26166.26058808455 Valid flow loss: 1.258365554018844
Epoch 7: Train loss: 35533.15435633086 Train flow loss: 0.5930652197053082 |Validation loss: 24701.67039110982 Valid flow loss: 1.2522529604427317
Epoch 8: Train loss: 36860.568956163195 Train flow loss: 0.5908083263476155 |Validation loss: 23174.357993267953 Valid flow loss: 1.2513532910010574
Epoch 9: Train loss: 35271.84056911149 Train flow loss: 0.5852680725094682 |Validation loss: 23078.71743579621 Valid flow loss: 1.2303876226576023
Epoch 10: Train loss: 36561.670687369195 Train flow loss: 0.5692683299885347 |Validation loss: 21137.564309411016 Valid flow loss: 1.2036913902147963
Epoch 11: Train loss: 35204.874149038005 Train flow loss: 0.5711231871575362 |Validation loss: 20582.574106202905 Valid flow loss: 1.1955261472930878
Epoch 12: Train loss: 34029.20741548349 Train flow loss: 0.5706326406470059 |Validation loss: 19325.338159006536 Valid flow loss: 1.2173120520352119
Epoch 13: Train loss: 35519.31008423409 Train flow loss: 0.5673471277145343 |Validation loss: 22100.33900916999 Valid flow loss: 1.194813261821337
Epoch 14: Train loss: 34194.758612181315 Train flow loss: 0.5735015854137325 |Validation loss: 18563.055251966976 Valid flow loss: 1.2089838449410861
Epoch 15: Train loss: 34446.763910813235 Train flow loss: 0.5622126309212645 |Validation loss: 20494.2621654754 Valid flow loss: 1.1797504739616582
Epoch 16: Train loss: 33072.23970781904 Train flow loss: 0.5579112532844965 |Validation loss: 18931.339535544106 Valid flow loss: 1.1643662919360824
Epoch 17: Train loss: 34082.52308113644 Train flow loss: 0.558095863040573 |Validation loss: 21560.613246620123 Valid flow loss: 1.183926093457794
Epoch 18: Train loss: 34603.64375460783 Train flow loss: 0.5674799233972905 |Validation loss: 22543.09375 Valid flow loss: 1.188079999286696
Epoch 19: Train loss: 32814.26539126415 Train flow loss: 0.5660243650980104 |Validation loss: 21251.849706338653 Valid flow loss: 1.1776354163612408
Epoch 20: Train loss: 32982.275147599175 Train flow loss: 0.5668332794178935 |Validation loss: 19792.912450479278 Valid flow loss: 1.185872429869484
Epoch 21: Train loss: 33027.36437486622 Train flow loss: 0.5485229167606767 |Validation loss: 18752.07864964262 Valid flow loss: 1.1463804993979367
Epoch 22: Train loss: 31795.414259447538 Train flow loss: 0.5578303180693939 |Validation loss: 20428.806767024045 Valid flow loss: 1.16333525906458
Epoch 23: Train loss: 33321.90216724041 Train flow loss: 0.5607218583477738 |Validation loss: 19519.19610725565 Valid flow loss: 1.1524210099794747
Epoch 24: Train loss: 32544.79865458821 Train flow loss: 0.5575990991895357 |Validation loss: 19463.69712883699 Valid flow loss: 1.1669419719264627
Epoch 25: Train loss: 29804.1183773604 Train flow loss: 0.5466469676690315 |Validation loss: 19002.793008574357 Valid flow loss: 1.166057742325059
Epoch 26: Train loss: 33634.40757976747 Train flow loss: 0.5518399517551081 |Validation loss: 20697.57270369293 Valid flow loss: 1.143009741105174
Epoch 27: Train loss: 31950.951181536577 Train flow loss: 0.5389055442306024 |Validation loss: 18548.072265625 Valid flow loss: 1.158255239877212
Epoch 28: Train loss: 32745.19749861765 Train flow loss: 0.5572052240691663 |Validation loss: 18562.52733855552 Valid flow loss: 1.1793127207457559
Epoch 29: Train loss: 29393.30636452685 Train flow loss: 0.5273373615639562 |Validation loss: 21949.914197556514 Valid flow loss: 1.1311646661234365
Epoch 30: Train loss: 31552.90991545377 Train flow loss: 0.5555763128491827 |Validation loss: 21191.80046265514 Valid flow loss: 1.1471477156477168
Finished Training