In [0]:
import numpy as np
import pandas as pd
import datetime
import random

# Dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!unzip /content/drive/My\ Drive/dot_traffic_2015.txt.gz.zip

Archive:  /content/drive/My Drive/dot_traffic_2015.txt.gz.zip
  inflating: dot_traffic_2015.txt.gz

In [0]:
traffic_df = pd.read_csv('/content/dot_traffic_2015.txt.gz', compression='gzip', header=0, sep=',', quotechar='"')

In [0]:
original_df = traffic_df

In [0]:
del traffic_df['functional_classification_name']
del traffic_df['date']
del traffic_df['restrictions']
del traffic_df['year_of_data']
del traffic_df['record_type']
del traffic_df['direction_of_travel_name']
del traffic_df['fips_state_code']
del traffic_df['station_id']

In [0]:
traffic_df.head(10)

   day_of_data  ...  traffic_volume_counted_after_2300_to_2400
0            7  ...                                          6
1           26  ...                                        613
2           16  ...                                        892
3           26  ...                                        110
4           23  ...                                          7
5           25  ...                                       1590
6           10  ...                                         61
7           27  ...                                         14
8           26  ...                                        168
9           12  ...                                        270

[10 rows x 30 columns]

In [0]:
traffic_df.shape

(7140391, 30)

In [8]:
one_hot_column = ['direction_of_travel', 'functional_classification','direction_of_travel','lane_of_travel','month_of_data','day_of_week','day_of_data']
prefix = []
for col in one_hot_column:
  prefix.append(col.replace('_',''))
data = pd.get_dummies(traffic_df,prefix=prefix, columns=one_hot_column)
data = data[:30000]
data[:5]

   traffic_volume_counted_after_0000_to_0100  ...  dayofdata_31
0                                          4  ...             0
1                                        381  ...             0
2                                        585  ...             0
3                                        105  ...             0
4                                          6  ...             0

[5 rows x 116 columns]

In [0]:
data.shape

(30000, 116)

In [0]:
cat_index = {} # Mapping of feature -> start index of feature in a record
cat_values = {} # Mapping of feature -> list of categorical values the feature can take
# build up the cat_index and cat_values dictionary
one_hot_column = ['direction_of_travel', 'functional_classification','direction_of_travel','lane_of_travel','month_of_data','day_of_week','day_of_data']
for i, header in enumerate(data.keys()):
  if i > 23: # categorical header
    feature, value = header.split('_')
    if feature not in cat_index:
      cat_index[feature] = i
      cat_values[feature] = [value]
    else:
      cat_values[feature].append(value)
def get_onehot(record, feature):
  """
  Return the portion of `record` that is the one-hot encoding
  of feature. For example, since the feature "work" is stored
  in the indices [5:12] in each record, calling `get_range(record, "work")`
  is equivalent to accessing `record[5:12]`.
  Args:
  - record: a numpy array representing one record, formatted
  the same way as a row in `data.np`
  - feature: a string, should be an element of `catcols`
  """
  start_index = cat_index[feature]
  stop_index = cat_index[feature] + len(cat_values[feature])
  return record[start_index:stop_index]
def get_categorical_value(onehot, feature):
  """
  Return the categorical value name of a feature given
  a one-hot vector representing the feature.
  Args:
  - onehot: a numpy array one-hot representation of the feature
  - feature: a string, should be an element of `catcols`
  Examples:
  >>> get_categorical_value(np.array([0., 0., 0., 0., 0., 1., 0.]), "work")
  'State-gov'
  >>> get_categorical_value(np.array([0.1, 0., 1.1, 0.2, 0., 1., 0.]), "work")
  'Private'
  """
  # TODO
  idx = np.argmax(onehot)
  return cat_values[feature][idx]
def get_feature(record, feature):
  """
  Return the categorical feature value of a record
  """
  onehot = get_onehot(record, feature)
  return get_categorical_value(onehot, feature)
def get_features(record):
  return { f: get_feature(record, f) for f in catcols }

In [0]:
get_categorical_value(np.array([0.1, 0., 1.1, 3.3, 0., 1., 0.,0,0,0,0,0,0,0,55,0,0,0]), "dayofdata")

'15'

#DataLoader

In [10]:
np.random.seed(50) # set the numpy seed for consistent split
arr = np.arange(len(data))
np.random.shuffle(arr)
np_data=data.values
shuffled_data=np_data
total_data=len(np_data)
train_data=shuffled_data[:int(total_data*0.7)].astype(np.float32)
validation_data=shuffled_data[int(total_data*0.7):int(total_data*0.85)].astype(np.float32)
test_data=shuffled_data[int(total_data*0.85):].astype(np.float32)
print("Training dataset size: {}".format(train_data.shape[0]))
print("Validation dataset size: {}".format(validation_data.shape[0]))
print("Test dataset size: {}".format(test_data.shape[0]))

Training dataset size: 21000
Validation dataset size: 4500
Test dataset size: 4500

#Neural Network

In [0]:
import torch
import torch.nn as nn
import torch.optim as optim
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [0]:
def get_model_name(name, batch_size, learning_rate, epoch, momentum):
  """ Generate a name for the model consisting of all the hyperparameter values
  Args:
  config: Configuration object containing the hyperparameters
  Returns:
  path: A string with the hyperparameter name and value concatenated
  """
  if momentum:
    path = "model_{0}_bs{1}_lr{2}_epoch{3}_momentum{4}".format(name,
            batch_size,
            learning_rate,
            epoch,momentum)
  else:
    path = "model_{0}_bs{1}_lr{2}_epoch{3}".format(name,
            batch_size,
            learning_rate,
            epoch)
  return path

In [0]:
class AutoEncoder(nn.Module):
  def __init__(self):
    super(AutoEncoder, self).__init__()
    self.fc1 = nn.Linear(116, 100) # TODO
    self.bn1 = nn.BatchNorm1d(num_features=100)
    self.act = nn.ReLU()
    self.fc2 = nn.Linear(100, 80)
    self.bn2 = nn.BatchNorm1d(num_features=80)
    self.fc3 = nn.Linear(80, 60)
    
    self.fc4 = nn.Linear(140, 80)
    self.bn4 = nn.BatchNorm1d(num_features=80)
    self.fc5 = nn.Linear(180, 100)# TODO
    self.bn5 = nn.BatchNorm1d(num_features=100)
    self.fc6 = nn.Linear(100, 116)# TODO
    
    self.sig = nn.Sigmoid()
  def forward(self, x):
    out1 = self.act(self.bn1(self.fc1(x)))
    out2 = self.act(self.bn2(self.fc2(out1)))
    out3 = self.act(self.fc3(out2))
    out4 = self.act(self.bn4(self.fc4(torch.cat((out3,out2),1))))
    out5 = self.act(self.bn5(self.fc5(torch.cat((out4,out1),1))))
    x = self.act(self.fc6(out5))
    x[:,24:] = self.sig(x[:,24:])
    return x

In [0]:
def get_accuracy(model, data_loader):
    """Return the "accuracy" of the autoencoder model across a data set
    
    Args:
       - model: the autoencoder model, an instance of nn.Module
       - data_loader: an instance of torch.utils.data.DataLoader

    Example (to illustrate how get_accuracy is intended to be called.
             depending on your variable naming this code might not work
             out of the box)

        >>> model = AutoEncoder()
        >>> vdl = torch.utils.data.DataLoader(data_valid, batch_size=256, shuffle=True)
        >>> get_accuracy(model, vdl)
    """
    total = 0
    acc = 0
    count = 0
    for j in range(24):
        for item in data_loader: # minibatches
            inp = item.detach().numpy()
            out = model(zero_out_feature(item.clone().to(device))).cpu().detach().numpy()
            for i in range(out.shape[0]): # record in minibatch
                acc += np.absolute(int(out[i][j]) - inp[i][j] )
                count += 1
    return (acc)/count

In [0]:
import matplotlib.pyplot as plt
def plot_training_curve(path):
    train_err = np.loadtxt("{}_train_acc.csv".format(path))
    val_err = np.loadtxt("{}_val_acc.csv".format(path))
    train_loss = np.loadtxt("{}_train_loss.csv".format(path))
    val_loss = np.loadtxt("{}_val_loss.csv".format(path))
    plt.title("Train vs Validation Accuracy")
    plt.plot(range(1,train_err.shape[0]+1), train_err, label="Train")
    plt.plot(range(1,val_err.shape[0]+1), val_err, label="Validation")
    plt.xlabel("Epoch")
    plt.ylabel("Accuracy")
    plt.legend(loc='best')
    plt.show()
    plt.title("Train vs Validation Loss")
    plt.plot(range(1,train_loss.shape[0]+1), train_loss, label="Train")
    plt.plot(range(1,val_loss.shape[0]+1), val_loss, label="Validation")
    plt.xlabel("Epoch")
    plt.ylabel("Loss")
    plt.legend(loc='best')
    plt.show()
def zero_out_feature(records):
    """ Set the feature missing in records, by setting the appropriate
    columns of records to 0
    """
    col = random.randint(0, 23)
    records[:, col:24] = 0
    return records

def zero_out_random_feature(records):
    """ Set one random feature missing in records, by setting the 
    appropriate columns of records to 0
    """
    return zero_out_feature(records)
def validation_eval(model, valid_loader, criterion):
    valid_error = 0
    total_valid_loss = 0
    for data_val in valid_loader:
        recon=model(data_val.to(device))
        loss = criterion(recon[:,:24], (data_val[:,:24]).to(device))
        total_valid_loss += loss.item()
    return total_valid_loss/len(valid_loader),get_accuracy(model, valid_loader)
        
def train(model, train_loader, valid_loader, num_epochs=5, learning_rate=1e-4, batch_size=1,betas=(0.9, 0.999)):
    """ Training loop. You should update this."""
    torch.manual_seed(42)
    criterion = nn.MSELoss()
    optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate,betas=betas)
    train_err = []    
    train_loss = []  
    val_err = []  
    val_loss = []
    for epoch in range(num_epochs):
        train_error = 0
        total_train_loss = 0
        train_idx = 0
        for data in train_loader:
            data_zero = zero_out_feature(data.clone()).to(device) # zero out one categorical feature
            recon = model(data_zero)
            loss = criterion(recon[:,:24], (data[:,:24]).to(device))
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
            total_train_loss += loss.item()
            train_idx+=1
        train_err.append(get_accuracy(model,  train_loader))
        train_loss.append(total_train_loss/(train_idx+1))
        valid_loss,valid_err = validation_eval(model, valid_loader,criterion)
        val_loss.append(valid_loss)
        val_err.append(valid_err)
        train_loss.append(total_train_loss/len(train_loader))
        valid_loss,_= validation_eval(model, valid_loader,criterion)
        val_loss.append(valid_loss)
        print(("Epoch {}: Train loss: {} Train flow loss: {} |"+               
               "Validation loss: {} Valid flow loss: {}").format(
            epoch + 1, train_loss[-1],train_err[-1],val_loss[-1],val_err[-1]))
        model_path = "Encoder_Decoder_Batchsize{}_lr{}_epoch{}_betas{}".format(batch_size,learning_rate,epoch,betas)
        torch.save(model.state_dict(), model_path)
    print('Finished Training')    
    np.savetxt("{}_train_loss.csv".format(model_path), np.array(train_loss))       
    np.savetxt("{}_val_loss.csv".format(model_path), np.array(val_loss))
    return model_path

In [0]:
Encoder=AutoEncoder().to(device)
batch_size=16
train_loader =torch.utils.data.DataLoader(train_data,batch_size=batch_size) 
valid_loader =torch.utils.data.DataLoader(validation_data,batch_size=batch_size) 
test_loader =torch.utils.data.DataLoader(test_data,batch_size=batch_size) 
#Encoder.load_state_dict(torch.load('Encoder_Decoder_Batchsize16_lr0.01_epoch5_betas(0.9, 0.999)'))
path = train(Encoder, train_loader, valid_loader, num_epochs=30, learning_rate=1e-2, batch_size=batch_size)

Epoch 1: Train loss: 59935.86985724189 Train flow loss: 230.04231547619048 |Validation loss: 38283.43357989805 Valid flow loss: 234.20361111111112
Epoch 2: Train loss: 42854.662386985015 Train flow loss: 218.1519126984127 |Validation loss: 32404.680387023494 Valid flow loss: 220.83524074074074
Epoch 3: Train loss: 40781.834249712905 Train flow loss: 210.01002579365078 |Validation loss: 28235.741488842254 Valid flow loss: 211.72708333333333
Epoch 4: Train loss: 38680.80835388602 Train flow loss: 199.33608928571428 |Validation loss: 28896.306806848403 Valid flow loss: 199.78192592592592
Epoch 5: Train loss: 36615.520524547195 Train flow loss: 181.5893888888889 |Validation loss: 27757.912007216866 Valid flow loss: 185.63072222222223
Epoch 6: Train loss: 35744.83666611008 Train flow loss: 174.4555376984127 |Validation loss: 22221.39323479402 Valid flow loss: 175.30051851851852
Epoch 7: Train loss: 34485.59338230154 Train flow loss: 168.30998809523808 |Validation loss: 25527.71010421861 Valid flow loss: 170.79912037037036
Epoch 8: Train loss: 33032.902392652504 Train flow loss: 161.8557896825397 |Validation loss: 21916.181336314967 Valid flow loss: 162.21442592592592
Epoch 9: Train loss: 32292.582192274967 Train flow loss: 167.23385317460318 |Validation loss: 21373.022461370372 Valid flow loss: 170.08626851851852
Epoch 10: Train loss: 33136.862397007244 Train flow loss: 163.6737361111111 |Validation loss: 19994.45008363115 Valid flow loss: 165.15585185185185
Epoch 11: Train loss: 33692.11786162935 Train flow loss: 165.52505357142857 |Validation loss: 24929.21776607865 Valid flow loss: 166.59218518518517
Epoch 12: Train loss: 31555.072254747447 Train flow loss: 160.57298214285714 |Validation loss: 18828.142673357157 Valid flow loss: 161.37649074074073
Epoch 13: Train loss: 32350.812038587235 Train flow loss: 160.391626984127 |Validation loss: 19044.53919192916 Valid flow loss: 162.90185185185186
Epoch 14: Train loss: 33983.921583444404 Train flow loss: 159.61816865079365 |Validation loss: 20801.26741752895 Valid flow loss: 159.37164814814815
Epoch 15: Train loss: 30936.360663850526 Train flow loss: 158.88847817460316 |Validation loss: 18566.970820433704 Valid flow loss: 160.15475925925927
Epoch 16: Train loss: 31713.75741486502 Train flow loss: 158.5897003968254 |Validation loss: 16751.11690656513 Valid flow loss: 159.05628703703704
Epoch 17: Train loss: 32129.383197398016 Train flow loss: 157.79048412698413 |Validation loss: 19547.15075986605 Valid flow loss: 159.53101851851852
Epoch 18: Train loss: 31726.408495610303 Train flow loss: 157.19837698412698 |Validation loss: 17561.461836578153 Valid flow loss: 157.94492592592593
Epoch 19: Train loss: 32057.35044703952 Train flow loss: 155.29420634920635 |Validation loss: 18217.60383854859 Valid flow loss: 157.69455555555555
Epoch 20: Train loss: 32415.102060543155 Train flow loss: 155.65515476190475 |Validation loss: 17217.389906430075 Valid flow loss: 157.44101851851852
Epoch 21: Train loss: 30280.96224736187 Train flow loss: 157.07358333333335 |Validation loss: 19875.11453268714 Valid flow loss: 160.20447222222222
Epoch 22: Train loss: 30654.82790438092 Train flow loss: 155.02662896825396 |Validation loss: 17280.15589114791 Valid flow loss: 155.88450925925926
Epoch 23: Train loss: 30374.904629151693 Train flow loss: 155.18213095238096 |Validation loss: 19049.358140661363 Valid flow loss: 155.89882407407407
Epoch 24: Train loss: 31583.575873625523 Train flow loss: 156.3296130952381 |Validation loss: 18735.262291008698 Valid flow loss: 159.08622222222223
Epoch 25: Train loss: 31646.83985248923 Train flow loss: 154.6721488095238 |Validation loss: 18255.86313840176 Valid flow loss: 157.27547222222222
Epoch 26: Train loss: 30208.717875612117 Train flow loss: 156.71980357142857 |Validation loss: 21514.538286357907 Valid flow loss: 159.22504629629628
Epoch 27: Train loss: 31780.708233823872 Train flow loss: 156.3721130952381 |Validation loss: 18611.588662005484 Valid flow loss: 158.00937037037036
Epoch 28: Train loss: 30021.913621726693 Train flow loss: 153.4172142857143 |Validation loss: 16491.293212024877 Valid flow loss: 153.54755555555556
Epoch 29: Train loss: 31909.740318420365 Train flow loss: 152.94865079365078 |Validation loss: 16246.832119339746 Valid flow loss: 153.47396296296296
Epoch 30: Train loss: 30570.620408278246 Train flow loss: 153.94641666666666 |Validation loss: 19084.105609001 Valid flow loss: 153.8329537037037
Finished Training

In [0]:
!cp -r /content/Encoder_Decoder_Batchsize16_lr0\.01_epoch28_betas\(0.9,\ 0.999\) /content/drive/My\ Drive/

In [0]:
def zero_out_feature_fixed(records, col):
    """ Set the feature missing in records, by setting the appropriate
    columns of records to 0
    """
    records[:, col:24] = 0
    return records

In [0]:
class AutoEncoder_2(nn.Module):
  def __init__(self):
    super(AutoEncoder_2, self).__init__()
    self.fc1 = nn.Linear(116, 100) # TODO
    self.bn1 = nn.BatchNorm1d(num_features=100)
    self.act = nn.ReLU()
    self.fc2 = nn.Linear(100, 80)
    self.bn2 = nn.BatchNorm1d(num_features=80)
    self.fc5 = nn.Linear(180, 100)# TODO
    self.bn5 = nn.BatchNorm1d(num_features=100)
    self.fc6 = nn.Linear(100, 116)# TODO
    
    self.sig = nn.Sigmoid()
  def forward(self, x):
    out1 = self.act(self.bn1(self.fc1(x)))
    out2 = self.act(self.bn2(self.fc2(out1)))
    out5 = self.act(self.bn5(self.fc5(torch.cat((out2,out1),1))))
    x = self.act(self.fc6(out5))
    x[:,24:] = self.sig(x[:,24:])
    return x

In [0]:
def train_2(model, train_loader, valid_loader, num_epochs=5, learning_rate=1e-4, batch_size=1,betas=(0.9, 0.999)):
    """ Training loop. You should update this."""
    torch.manual_seed(42)
    criterion = nn.MSELoss()
    optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate,betas=betas)
    train_err = []    
    train_loss = []  
    val_err = []  
    val_loss = []
    for epoch in range(num_epochs):
        train_error = 0
        total_train_loss = 0
        train_idx = 0
        for data in train_loader:
            data_zero = zero_out_feature(data.clone()).to(device) # zero out one categorical feature
            recon = model(data_zero)
            loss = criterion(recon[:,:24], (data[:,:24]).to(device))
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
            total_train_loss += loss.item()
            train_idx+=1
        train_err.append(get_accuracy(model,  train_loader))
        train_loss.append(total_train_loss/(train_idx+1))
        valid_loss,valid_err = validation_eval(model, valid_loader,criterion)
        val_loss.append(valid_loss)
        val_err.append(valid_err)
        train_loss.append(total_train_loss/len(train_loader))
        valid_loss,_= validation_eval(model, valid_loader,criterion)
        val_loss.append(valid_loss)
        print(("Epoch {}: Train loss: {} Train flow loss: {} |"+               
               "Validation loss: {} Valid flow loss: {}").format(
            epoch + 1, train_loss[-1],train_err[-1],val_loss[-1],val_err[-1]))
        model_path = "Encoder_Decoder_2_Batchsize{}_lr{}_epoch{}_betas{}".format(batch_size,learning_rate,epoch,betas)
        torch.save(model.state_dict(), model_path)
    print('Finished Training')    
    np.savetxt("{}_train_loss.csv".format(model_path), np.array(train_loss))       
    np.savetxt("{}_val_loss.csv".format(model_path), np.array(val_loss))
    return model_path

In [0]:
Encoder_2=AutoEncoder_2().to(device)
batch_size=32
train_loader =torch.utils.data.DataLoader(train_data,batch_size=batch_size) 
valid_loader =torch.utils.data.DataLoader(validation_data,batch_size=batch_size) 
test_loader =torch.utils.data.DataLoader(test_data,batch_size=batch_size) 
Encoder_2.load_state_dict(torch.load('Encoder_Decoder_2_Batchsize32_lr0.01_epoch29_betas(0.9, 0.999)'))
path = train_2(Encoder_2, train_loader, valid_loader, num_epochs=30, learning_rate=1e-2, batch_size=batch_size)

Epoch 1: Train loss: 105445.09206739916 Train flow loss: 127.52561111111112 |Validation loss: 37702.07555546321 Valid flow loss: 124.41466666666666
Epoch 2: Train loss: 106411.21996810193 Train flow loss: 126.70692658730158 |Validation loss: 39444.38995144892 Valid flow loss: 123.21080555555555
Epoch 3: Train loss: 107895.85908515268 Train flow loss: 126.85868253968253 |Validation loss: 37627.51861702128 Valid flow loss: 123.89842592592592
Epoch 4: Train loss: 101616.1810869423 Train flow loss: 126.18658333333333 |Validation loss: 40532.885932651814 Valid flow loss: 123.37869444444445
Epoch 5: Train loss: 101551.034307146 Train flow loss: 124.49466468253968 |Validation loss: 37734.546488876884 Valid flow loss: 122.73361111111112
Epoch 6: Train loss: 105231.04147715111 Train flow loss: 127.44966468253968 |Validation loss: 37773.263367132095 Valid flow loss: 125.7513425925926
Epoch 7: Train loss: 104844.2084790002 Train flow loss: 126.33702976190476 |Validation loss: 38409.70511968085 Valid flow loss: 123.67652777777778
Epoch 8: Train loss: 97884.57681251189 Train flow loss: 125.47249404761905 |Validation loss: 38136.050964788345 Valid flow loss: 122.61848148148148
Epoch 9: Train loss: 100891.22842532641 Train flow loss: 124.69289087301587 |Validation loss: 37578.55234998338 Valid flow loss: 122.57894444444445
Epoch 10: Train loss: 103400.35572886938 Train flow loss: 124.36474404761904 |Validation loss: 37611.99304285793 Valid flow loss: 123.21325
Epoch 11: Train loss: 106670.94245192994 Train flow loss: 126.23799603174604 |Validation loss: 37987.84336560838 Valid flow loss: 123.61338888888889
Epoch 12: Train loss: 100968.04236452983 Train flow loss: 126.58583134920634 |Validation loss: 38850.36405695922 Valid flow loss: 126.02327777777778
Epoch 13: Train loss: 108169.27074935193 Train flow loss: 127.32799603174603 |Validation loss: 38744.53216596022 Valid flow loss: 127.09724074074074
Epoch 14: Train loss: 101235.32113522047 Train flow loss: 128.25874404761905 |Validation loss: 38939.19509260029 Valid flow loss: 127.54558333333334
Epoch 15: Train loss: 100818.33736964302 Train flow loss: 123.4120257936508 |Validation loss: 36130.83773998504 Valid flow loss: 121.96438888888889
Epoch 16: Train loss: 101174.3384844404 Train flow loss: 124.97233928571428 |Validation loss: 37950.472477906136 Valid flow loss: 123.33867592592593
Epoch 17: Train loss: 101594.81042201769 Train flow loss: 125.09083928571428 |Validation loss: 37147.31684431793 Valid flow loss: 122.02908333333333
Epoch 18: Train loss: 99229.85456502093 Train flow loss: 125.67489682539683 |Validation loss: 36874.45209995568 Valid flow loss: 123.42825925925926
Epoch 19: Train loss: 102147.80733179937 Train flow loss: 125.51368452380953 |Validation loss: 35950.37094657303 Valid flow loss: 122.55048148148148
Epoch 20: Train loss: 96208.9149513651 Train flow loss: 125.54946031746032 |Validation loss: 38028.71843140514 Valid flow loss: 124.32325925925926
Epoch 21: Train loss: 96865.17506666489 Train flow loss: 123.47763690476191 |Validation loss: 39022.49204898049 Valid flow loss: 122.06408333333333
Epoch 22: Train loss: 94988.37785945527 Train flow loss: 124.18018253968253 |Validation loss: 37751.47919090758 Valid flow loss: 120.85155555555555
Epoch 23: Train loss: 98962.04629976455 Train flow loss: 124.75867857142858 |Validation loss: 36057.54124418218 Valid flow loss: 123.7537037037037
Epoch 24: Train loss: 100685.56648019822 Train flow loss: 123.22341468253968 |Validation loss: 37055.56373455508 Valid flow loss: 120.98055555555555
Epoch 25: Train loss: 101833.07964595522 Train flow loss: 123.68075992063493 |Validation loss: 39161.588486258865 Valid flow loss: 121.5021111111111
Epoch 26: Train loss: 102068.39132583595 Train flow loss: 123.9078630952381 |Validation loss: 36920.539547318265 Valid flow loss: 122.67643518518518
Epoch 27: Train loss: 93877.12561351016 Train flow loss: 124.29348611111111 |Validation loss: 35061.54561100953 Valid flow loss: 121.35270370370371
Epoch 28: Train loss: 102346.04165997788 Train flow loss: 123.70475595238095 |Validation loss: 36103.84703637522 Valid flow loss: 122.50273148148148
Epoch 29: Train loss: 97974.07382262533 Train flow loss: 124.94274206349206 |Validation loss: 35458.22487256206 Valid flow loss: 120.85635185185185
Epoch 30: Train loss: 102897.22226086853 Train flow loss: 123.86283134920635 |Validation loss: 36677.78249148105 Valid flow loss: 122.73037037037037
Finished Training

In [0]:
!cp -r /content/Encoder_Decoder_2_Batchsize32_lr0\.01_epoch28_betas\(0.9,\ 0.999\) /content/drive/My\ Drive/

In [0]:
new_df = pd.read_csv('/content/dot_traffic_2015.txt.gz', compression='gzip', header=0, sep=',', quotechar='"')

In [61]:
test_df = new_df.iloc[25500:30000,:]
test_df.shape

(4500, 38)

In [62]:
val = np.array([])
Encoder_2=AutoEncoder_2().to(device)
Encoder_2.load_state_dict(torch.load('/content/drive/My Drive/Encoder_Decoder_2_Batchsize32_lr0.01_epoch28_betas(0.9, 0.999)'))
test_loader =torch.utils.data.DataLoader(test_data,batch_size=32) 
for col in range(23):
  col_data = []
  for data in test_loader:
    data_zero = zero_out_feature_fixed(data.clone(), col+1) # zero out one categorical feature
    recon = Encoder_2(data_zero.to(device))
    est = recon.cpu().detach().numpy().astype(np.int32)
    col_data.append(est[:,col+1])
  col_result = np.concatenate(col_data)
  test_df['traffic_volume_estimate_after_'+str(col*100+100).zfill(4)+'_to_'+str(col*100+200).zfill(4)]=col_result

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [63]:
test_df[:5]

             date  ...  traffic_volume_estimate_after_2300_to_2400
25500  2015-04-21  ...                                           0
25501  2015-07-08  ...                                         480
25502  2015-01-22  ...                                         252
25503  2015-08-05  ...                                         136
25504  2015-09-17  ...                                          25

[5 rows x 61 columns]

In [0]:
test_df.to_csv('estimated.csv')