In [0]:
import numpy as np
import pandas as pd

In [11]:
from google.colab import files
uploaded=files.upload()

Saving VDS_Gardiner VDS_NO.89_log.csv to VDS_Gardiner VDS_NO.89_log.csv

The Columns in Detail:

1st Column: Date/ time of the feed (Time Stamp)

2nd Column: Unique continuous ID for each detector base on the road direction (easy for subscription)

3rd Column: Average speed during an interval (km/h)

4th Column: vehicles per interval in (100 vehicle/hour)

In [19]:
myDataSet = pd.read_csv("VDS_Gardiner VDS_NO.89_log.csv")
myDataSet[:]

        timeStamp  detectorID  ...  dayOfWeek  onerHourBefore100VehiclesPerHour
0     12:00:00 AM          89  ...        Mon                               NaN
1     12:02:00 AM          89  ...        Mon                               NaN
2     12:04:00 AM          89  ...        Mon                               NaN
3     12:06:00 AM          89  ...        Mon                               NaN
4     12:08:00 AM          89  ...        Mon                               NaN
...           ...         ...  ...        ...                               ...
6025   8:50:00 AM          89  ...        Sun                               5.0
6026   8:52:00 AM          89  ...        Sun                               7.0
6027   8:54:00 AM          89  ...        Sun                               3.0
6028   8:56:00 AM          89  ...        Sun                               0.0
6029   8:58:00 AM          89  ...        Sun                               1.0

[6030 rows x 6 columns]

In [0]:
from torch.utils.data.dataset import Dataset

class MyDataset(Dataset):
    def __init__(self, data_info):
        self.data_info = data_info
        #self.time = np.asarray(self.data_info.iloc[:, 0])
        #self.detectorID = np.asarray(self.data_info.iloc[:,1])
        #self.averageSpeed = np.asarray(self.data_info.iloc[:,2])
        #self.vehicles = np.asarray(self.data_info.iloc[:,3])
        #self.day = np.asarray(self.data_info.iloc[:,4])
        #self.preVehicles = np.asarray(self.data_info.iloc[:,5])
        #self.data_len = len(self.data_info.index)
        self.time = self.data_info.iloc[:, 0]
        self.detectorID = self.data_info.iloc[:,1]
        self.averageSpeed = self.data_info.iloc[:,2]
        self.vehicles = self.data_info.iloc[:,3]
        self.day = self.data_info.iloc[:,4]
        self.preVehicles = self.data_info.iloc[:,5]
        self.data_len = len(self.data_info.index)

    def __getitem__(self, index):
        return self.time[index], self.vehicles[index]

    def __len__(self):
        return self.data_len

In [121]:
test = MyDataset(myDataSet)
test.time

0       12:00:00 AM
1       12:02:00 AM
2       12:04:00 AM
3       12:06:00 AM
4       12:08:00 AM
           ...
6025     8:50:00 AM
6026     8:52:00 AM
6027     8:54:00 AM
6028     8:56:00 AM
6029     8:58:00 AM
Name: timeStamp, Length: 6030, dtype: object

In [0]:
import torch
from torch.utils.data.dataset import Dataset

def create_dataloader():
    upload_set = MyDataset(myDataSet)
    dataset = torch.utils.data.DataLoader(dataset= upload_set,
                                                    batch_size=6,
                                                    shuffle=False)

    train_set, valid_set, test_set = split_data(dataset)

    return train_set, valid_set, test_set


def split_data(dataset):
    train_size = int(0.6 * len(dataset))
    valid_size = int(0.2 * len(dataset))
    test_size = len(dataset) - train_size - valid_size
    train_set, valid_set, test_set = torch.utils.data.random_split(dataset, [train_size, valid_size, test_size])

    return train_set, valid_set, test_set

In [124]:
a,b, c = create_dataloader()
print (len(a),len(b), len(c))

603 201 201

AttributeError: ignored